body
{
background-color: cornflowerblue;
margin: 0;
}
#nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color:cadetblue;
  position:fixed;
  height: 100%;
  overflow: auto;
  text-transform: uppercase;
}
h1{
  text-align: center; 
  color: blueviolet; 
  font-size: 500%; 
  font-family:Robot;
}
#nav li {
  display: block;
  color: red;
  padding:15px 12px;
  text-decoration: aquamarine;
  text-decoration-style: solid;
}
#nav .bar a
{
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: pink;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#nav .bar li a {
  list-style: none;
  text-decoration-style: solid;
  display: block;
  color:blue;
  padding: 1px 25px;
  text-decoration: none;
}
div.fav
{
 margin-left:35%;
 padding: 200px;
}
div.img2
{
display: inline-block;
}
button
  {
    font-size: 50px;
    padding :20px;
    border-radius: 20px;
    margin: 30px;
  }
#GuessButton
  {
    text-align: center;
  }
div.bio
{
  outline-style: inset;
  outline-color: darkgoldenrod;
  outline-width: medium;
}
div.personal
{
 margin-left:35%;
 padding:1px 16px;
 height:1000px;
}
div.game
{
  background-color: darkgoldenrod;
  width: 450px;
  border: 15px solid navy;
  padding: 200px;
  margin: 300px;
}
